<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    </nav>
    <div class="blogs content">
      <h1>All Blog</h1>
      <% if(blogs.length>0){%> <%blogs.forEach(blog =>{%>
        <a href="/blogs/<%=blog._id%>">
          <h3><%=blog.title%></h3>
        </a>
          <p><%=blog.snipet%></p>
          <p><%=blog.body%></p>
          <%})%> <%} else {%>
        <p>No blogs to display....</p>
        <%}%>
    </div>

    <%- include('../partials/footer.ejs')%>
  </body>
</html>
